@model IEnumerable<Event>
<!--View to Display All Events -->

        <h2>What's Happening!! </h2>

        <table class="table table-dark">
            <tr>
                <th>Event ID</th>                
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>City</th>
                <th>State</th>
            </tr>

        @foreach (var e in Model)
        {
        <tr>
            <td><a href=/Event/ViewEvent/@e.EventID>@e.EventID</a></td>            
            <td>@e.Name</td>
            <td>@e.StartDate</td>
            <td>@e.EndDate</td>
            <td>@e.City</td>
            <td>@e.State</td>
        </tr>
        }
        </table>

